* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.game_title {
  margin-bottom: 15px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices {
  margin-bottom: 20px;
}

.choices button {
  padding: 10px;
  width: 100px;
  margin: 0 10px;
}

.score_container {
  width: 400px;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
}

.player_score_cards,
.computer_score_cards,
.round_score_cards {
  padding: 20px;
  border: 1px solid black;
}

.user_message,
.computer_message,
.round_message {
  border: 1px solid black;
  padding: 15px;
  width: 400px;
  text-align: center;
  margin-bottom: 5px;
}
